<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring 6 - Web App</title>
</head>
<body>

<h1>Books List</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Editor</th>
    </tr>
    <tr th:each="book : ${books}">
        <!-- Substitui o texto da tag <td> pelo ID do livro -->
        <td th:text="${book.id}">123</td>
        <!-- Substitui o texto da tag <td> pelo Título do livro -->
        <td th:text="${book.title}">Spring in Action</td>
        <!-- Substitui o texto da tag <td> pelo Nome do Editor do livro -->
        <!-- Usamos a notação de ponto para acessar propriedades (book.publisher.publisherName) -->
        <td th:text="${book.publisher.publisherName}">Wrox</td>
    </tr>
</table>

</body>
</html>


